.nav-container {
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-top: -20px;
    padding: 10px 3%;
    margin-bottom: 20px;
}

.nav-button {
    border-right: 1px solid #ddd;
    border-radius: 6px;
    padding: 3px 5px;
    /*margin: 3px;*/
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-button:hover {
    background: #888888;
}

.nav-button > a {
    text-decoration: none;
    color: black;
}
